html {
	background-color: #1e1e20;
	color: #F4EBD9;
	font-family: 'Roboto';
	text-align: center;
}

.info {
	font-size: 150%;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 3vh;
	font-size: 3vh;
}

.footer {
	font-size: 1.5vh;
	display: flex;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	border-top: 1px solid white;
}

.name {
	font-size: 3.5vh;
}

.left {
	text-align: left;
	width: 50%;
	color: #306ad4;
}

.right {
	text-align: right;
	flex-grow: 1;
	color: #bfe904;
}

.links {
	padding-bottom: 4vh;
}

a {
	padding-left: 7vw;
	padding-right: 7vw;
	color: #d7e45f;
	text-decoration: none;
	font-size: 2.5vh;
}

a:hover {
	color: #443758;
}

svg {
	padding-top: 2vh;
	max-width: 30%;
	height: auto;
}