html {
    background-color: rgb(10, 10, 10);
    color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

p.name {
    font-size: xx-large;
}

a {
    color: #64878B;
    padding: 2vw;
    text-decoration: none;
}

a:hover {
    color: #B3924A;
}

.side > .links {
    margin-top: 10vh;
}

svg {
    max-width: 100%;
    height: auto;
    float: left;
}

.side {
    padding-top: 12vh;
    text-align: center;
}

.footer {
    margin-top: 40vh;
    clear: both;
    text-align: center;
    font-size: small;
    border-top: 1px solid rgb(30, 30, 30);
}

.footer-content {
    margin-left: 7vw;
    margin-right: 7vw;
}

.email-footer {
    color: #EFA53A;
    float: left;
}

.discord-footer {
    color: #454C4E;
    float: right;
}