body {
	background-color: rgb(20, 20, 25);
}

.header {
	color: #A491D3;
	margin: 0 auto;
	width: 30%;
	text-align: center;
	margin-top: 6%;
	border-radius: 20px;
	padding-bottom: 10px;
}

.links {
	margin: 0 auto;
	padding-top: 45px;
	text-align: center;
}

.links button{
	font-family: 'Segoe UI';
	font-size: xx-large;
	background-color: rgb(64, 64, 64);
	margin: 10px;
}

.links button:hover{
	background-color: rgb(128, 128, 128);
}

.footer-side {
	color: #F5F2B8;
	text-align: center;
	padding-left: 50px;
	position: absolute;
}

.footer-center {
	color: #C5DCA0;
	text-align: center;
	z-index: 1;
}

.footers {
	position: relative;
	border-top: 1px solid rgb(30, 30, 30); 
	padding-top: 10px;
	margin-top: 50px;
}

p {
	font-family: 'Segoe UI';
}

a {
	color: #818AA3;
}